/*vectores*/

.vector {
 width: 500px;
 right: 0;
 top: 0;
}

.vector2 {
 width: 500px;
 top: 50vh;
 left: -100px;
 bottom: 45vh;
}

/*Section header */
header {
 max-width: 1500px;
 height: 80px;
 align-items: center;
 padding: 0 1rem;
 left: 50%;
 transform: translateX(-50%);
}

nav {
 display: block;
 margin: auto;
}

ul {
 display: flex;
 gap: 50px;
}

.link-active {
 border-bottom: 2px solid;
 color: var(--color-violet);
}

ul a {
 color: inherit;
}

.button_hamburguer {
 display: none;
}

/*Section home*/
.home {
 max-height: 1000px;
 max-width: 1500px;
 position: relative;
}

.home_contain {
 justify-content: space-between;
 height: 600px;
}

.home_contain .home_paragraph {
 max-width: 500px;
 justify-content: center;
}

.home_contain .home_figure {
 max-width: 700px;
 display: flex;
 flex-direction: column;
 justify-content: center;

}

/*Section experience*/

.experience {
 position: absolute;
 z-index: 1;
 top: 70vh;
 right: 0;
 left: 0;
 width: 100%;
 padding: 1rem 3rem;
 max-width: 1100px;
 gap: 30px;
 justify-content: space-evenly;
}

.experience article {
 width: 200px;
 height: 200px;
 display: flex;
 gap: 20px;
 padding: 0 1rem;
}

.experience article img {
 width: 60px;
 margin: 0 auto;
}

@media screen and (min-width: 2000px) {
 .experience {
  position: absolute;
  top: calc(60vh);
 }
}

/* section projects */
.works {
 width: 100%;
 max-width: 1100px;
 margin: 150px auto 0;
 align-items: center;
}

.works_paragraph {
 width: 100%;
 max-width: 400px;
 margin: 0 auto;
}

.vector3 {
 width: 800px;
 right: 0;
}

.works .works_figure {
 margin: 0 auto;
 width: 100%;
 max-width: 500px;
 margin: 0 auto;
 height: 400px;
}

.works .works_figure img {
 width: 250px;
 height: 250px;
 margin: 0 auto;
}

/*section feature2*/
.feature2 {
 margin: 150px auto;
 align-items: center;
 flex-direction: row-reverse;
}

.feature2_paragraph {
 width: 100%;
 max-width: 400px;
 margin: 0 auto;
}

.vector4 {
 width: 700px;
 left: 0;
 top: 150vh;
}

.feature2 .feature2_figure {
 margin: 0 auto;
 width: 100%;
 max-width: 500px;
 margin: 0 auto;
 height: 400px;
}

.feature2 .feature2_figure img {
 width: 250px;
 height: 250px;
 margin: 0 auto;
}

/*section featuree3*/
.feature3 {
 margin: 200px auto;
}

/*section contact*/
.contact {
 width: 90%;
 height: 369px;
 max-width: 800px;
 display: flex;
 justify-content: center;
 flex-direction: column;
 gap: 20px;
 border-radius: 40px;
 text-align: center;
 padding: 2rem 4rem;
 margin: 0 auto 100px;
 background: rgba(255, 255, 255, 0.144);
}

.contact div {
 display: flex;
 justify-content: space-around;
 max-width: 400px;
 width: 100%;
 margin: 0 auto;
}