:root {
    --color-dark: #000000;
    --color-White: #FFFFFF;
    --color-gray: #202020;
    --dark-Blue: #000000;
    --color-violet: #9BA4ED;
}


/*Styles extras*/

body {
    background: var(--color-dark);
}

h1 {
    font-weight: bold;
    font-size: clamp(2rem, 2.5vw, 3rem);
}

h2 {
    font-size: clamp(1.7rem, 2.5vw, 2.5rem);
    font-weight: bold;
    margin: 0 0 20px;
}

/*vectores*/

.vector {
    position: absolute;
    transition: all 0.5s ease;

}

.vector2 {
    position: absolute;
    transition: all 0.5s ease;
}


/*Section header */
.scroling {
    backdrop-filter: blur(15px);
    background: rgba(47, 50, 65, 0.11);
}

header {
    width: 100vw;
    position: fixed;
    height: auto;
    display: flex;
    max-width: 1500px;
    z-index: 5;
}

header img {
    width: 40px;
}

/*Section home*/
main {
    width: 100vw;
}

.home {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.home_contain {
    width: 100%;
    position: relative;
    display: flex;
}

.home_contain .home_paragraph {
    width: 100%;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.home_contain .home_paragraph span {
    color: var(--color-violet);
}

.home_contain .home_figure {
    width: 100%;
    animation: bouncing 4s 2s infinite, slide-in-right 2s ease-out;
}

.home_contain figure img {
    width: 95%;
}

.home_contain .home_button {
    width: 120px;
    padding: 10px 20px;
    border-radius: 10px;
    background: none;
    position: relative;
    cursor: pointer;
    border: 1px solid var(--color-White);
    font-size: 1rem;
    color: var(--color-White);
}

.home_contain .home_button:hover {
    border: 1px solid #005BBB;
    background: linear-gradient(to bottom, #005BBB, #007AFF, #1FC3E7);
}

/*Section section experience*/
.experience {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
}

.experience article {
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    display: flex;
    gap: 20px;
    padding: 0 1rem;
    border-radius: 20px;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background: var(--color-gray);
}

.experience article:hover {
    background: #65558F;
}

/* section proyects*/

.works {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    width: 100%;
    display: flex;
}

.vector3 {
    position: absolute;
}

.works_figure,
.works_paragraph {
    z-index: 1;
}

.works_paragraph h2 span {
    color: var(--color-violet);
}

.works .works_figure {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../icons/nuve.svg");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

/*section feature2*/
.feature2 {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
}

.vector4 {
    position: absolute;
}

.feature2_figure,
.feature2_paragraph {
    z-index: 1;
}

.feature2 h2 span {
    color: var(--color-violet);
}

.feature2 .feature2_figure {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../vectores/nuve2.svg");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}


/*section featuree3*/
.feature3 {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    max-width: 1100px;
    padding-left: 2rem;
    margin: 0 auto 100px;
    overflow-x: auto;
    transition: scroll-behavior 0.3s ease;
    -webkit-overflow-scrolling: touch;
}

.feature3::-webkit-scrollbar {
    display: none;
}

.feature3 article {
    position: relative;
    background: var(--color-White);
    padding: 1rem 2rem;
    max-width: 250px;
    min-width: 250px;
    height: 350px;
    border-radius: 7px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.feature3 article h3 {
    color: var(--color-dark);
}

.feature3 .feature3_paragraph {
    color: var(--color-dark);
}

.feature3 .feature3_icon {
    position: relative;
    width: 60px;
    margin: 0 auto;

}

.feature3 .vector_radial {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
}

.feature3 .vector5 {
    position: absolute;
    right: 0;
    width: 450px;
}


/*section contact*/
.contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    z-index: 2;
    
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.144);
}
.contact div{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0 auto;

}





/*animations*/
.hidden-left {
    transform: translateX(-80px);
    transition: transform 1s;
}

.hidden-right {
    transform: translateX(80px);
    transition: transform 1s ease-in-out;
}

.show_Element {
    transform: translateX(0);
}


@keyframes bouncing {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-40px);
    }
}

@keyframes slide-in-right {
    0% {
        transform: translateX(100vw);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}