/*vectores*/

.vector {
 width: 350px;
 right: -100px;
 top: 0;
}

.vector2 {
 width: 350px;
 top: 50vh;
 left: -100px;
 bottom: 50vh;
}

/*Section header */
header {
 padding: .7rem 1rem;
 justify-content: space-between;
}

nav {
 display: none;
}

/*Section home*/
.home {
 max-height: 1000px;
 max-width: 1500px;
 justify-content: end;
 overflow-x: hidden;
 position: relative;
 padding-bottom: 10vh;
}

.home_contain {
 flex-direction: column-reverse;
 height: 70vh;
}

.home_contain .home_figure {
 width: 100%;
 animation: bouncing 4s 2s infinite, slide-in-right 2s ease-out;
}

/*Section section experience*/
.experience {
 width: 100%;
 max-width: 270px;
 padding: 2rem 0;
 margin: 0 auto;
 flex-direction: column;
 gap: 30px;
 z-index: 1;
 position: relative;
}

.experience article {
 width: 200px;
 height: 200px;
 margin: 0 auto;
 display: flex;
 gap: 20px;
 padding: 0 1rem;
}

.experience article img {
 width: 50px;
 margin: 0 auto;
}

/* section projects */
.works {
 width: 100%;
 margin: 100px 0;
 padding: 0 1rem;
 flex-direction: column-reverse;
}

.vector3 {
 width: 450px;
 right: 0;
}

.works .works_figure {
 margin: 0 auto;
 width: 100%;
 max-width: 300px;
 margin: 0 auto;
 height: 400px;
}

.works .works_figure img {
 width: 200px;
 height: 200px;
}


/*section feature2*/
.feature2 {
 width: 100%;
 margin: 100px auto;
 padding: 0 1rem;
 flex-direction: column-reverse;
}

.vector4 {
 width: 100%;
 left: 0;
}

.feature2 .feature2_figure {
 margin: 0 auto;
 width: 100%;
 max-width: 300px;
 margin: 0 auto;
 height: 400px;
}

.feature2 .feature2_figure img {
 width: 200px;
 height: 200px;
}

.feature3 .vector5 {
 position: absolute;
 right: 0;
 width: 450px;
}

/*section feature3*/
.feature3 {
 margin: 150px auto;
}



/* section contact */
.contact {
 width: 90%;
 height: 369px;
 max-width: 800px;
 display: flex;
 justify-content: center;
 flex-direction: column;
 gap: 20px;
 border-radius: 40px;
 text-align: center;
 padding: 2rem 1rem;
 margin: 0 auto 50px;
 background: rgba(255, 255, 255, 0.144);
}

.contact div {
 display: flex;
 justify-content: space-around;
 width: 100%;
 margin: 0 auto;
}

/**********/

section {
 width: 100vw;
 overflow: hidden;
}