* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    scroll-behavior: smooth;
    font-family: "Sen", sans-serif;
    font-optical-sizing: auto;
    font-size: 17px;
    color: #FFFFFF;
}

html::-webkit-scrollbar {
    width: 8px;
}

html::-webkit-scrollbar-track {
    background-color: rgba(128, 128, 128, 0.445);
}


html::-webkit-scrollbar-thumb {
    background-color: rgba(220, 220, 220, 0.664);
}

body {
    min-height: 100vh;
    overflow-x: hidden;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}