:root {
    --color-dark: #000000;
    --color-White: #FFFFFF;
    --color-gray: #202020;
    --dark-Blue: #000000;
    --color-violet: #9BA4ED;
}

/*vectores*/

.vector {
    width: 500px;
    right: -50px;
    top: 0;
}

.vector2 {
    width: 500px;
    top: 50vh;
    left: -50px;
    bottom: 50vh;
}


/*Section header */
header {
    padding: 1rem 2rem;
    justify-content: space-between;
}

nav {
    display: none;
}

/*Section home*/
.home {
    overflow-x: hidden;
}

.home_contain {
    flex-direction: column-reverse;
    max-width: 600px;
    height: 70vh;
    justify-content: center;
    margin: 0 auto;
}

.home_contain .home_paragraph {
    text-align: center;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.home_contain .home_figure {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

.home_contain .home_button {
    margin: 0 auto;
}

/*Section section experience*/
.experience {
    width: 100%;
    max-width: 450px;
    padding: 2rem 0;
    margin: 0 auto;
    flex-direction: column;
    gap: 30px;
    z-index: 1;
    position: relative;
}

.experience article {
    width: 300px;
    height: 250px;
    margin: 0 auto;
    display: flex;
    gap: 20px;
    padding: 0 1rem;
    
}

.experience article img {
    width: 60px;
    margin: 0 auto;
}

/* section projects */
.works {
    width: 100%;
    max-width: 500px;
    margin: 150px auto;
    flex-direction: column-reverse;
}

.works_paragraph {
    width: 100%;
    margin: 0 auto;
}

.vector3 {
    width: 500px;
    right: 0;
}

.works .works_figure {
    margin: 0 auto;
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
    height: 400px;
}

.works .works_figure img {
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

/*section feature2*/
.feature2 {
    width: 100%;
    max-width: 500px;
    margin: 100px auto;
    flex-direction: column-reverse;
}

.feature2_paragraph {
    width: 100%;
}

.vector4 {
    width: 400px;
    left: 0;
    top:320vh;
}

.feature2 .feature2_figure {
    margin: 0 auto;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    height: 400px;
}

.feature2 .feature2_figure img {
    width: 200px;
    height: 200px;
}




/*section contact*/
.contact {
    width: 90%;
    max-width: 800px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    border-radius: 40px;
    text-align: center;
    padding: 2rem 4rem;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.144);
}
.contact div{
    display: flex;
    justify-content: space-around;
    max-width: 400px;
    width: 100%;
    margin: 0 auto;

}